* {
  padding: 0px;
  margin: 0px;
}
/* Introductory Part */
.intro {
  background-image: url(../Media/home-back-ground.png);
  /* background-color: black; */
  background-color: rgb(20, 22, 23);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  height: 70vh;
}

.hamburger,
.close {
  font-size: 1rem;
  color: white;
}

.mobile-nav {
  border-bottom: 4px solid white;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkslategray;
}

.mobile-nav p {
  padding-left: 1rem;
}
.mobile-nav a {
  padding-right: 1rem;
}

nav {
  background-color: darkslategray;
  position: absolute;
  width: 100%;
  z-index: 1000;
  height: 100vh;
  top: 0;
  left: 0;
  overflow: hidden;
  display: flex;
  text-align: center;
  /* animate slide/down */
  transform: translateY(-100%);
  transition: transform 0.5s ease;
}
nav:target {
  transform: translateY(0);
}
.nodegs-logo {
  width: 10rem;
  font-size: 2rem;
  margin-right: auto;
}
.hamburger {
  font-size: 2rem;
}
nav a {
  text-align: center;
  display: block;
  padding: 1rem 1rem 0 1rem;
  text-decoration: none;
  color: white;
}
.close {
  font-size: 2rem;
  color: #f3ba64;
}
nav a:hover {
  color: #f3ba64;
  background-color: darkslategray;
}
nav ul {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  list-style-type: none;
}
nav ul li {
  margin-bottom: 3rem;
}
section {
  margin-left: 3%;
  margin-top: 25vh;
}
#short-bio {
  color: rgb(140, 217, 182);
  font-family: "Play", sans-serif;
  line-height: 1.5rem;
}
section button {
  /* color: white; */
  color: white;
  border-radius: 8px;
  background-color: rgb(65, 75, 168);
  /* background-color: darkslategray; */
  padding: 0.5rem;
  border: none;
  margin-top: 1rem;
  font-weight: bolder;
  font-size: 1rem;
  font-family: "Play", sans-serif;
  cursor: pointer;
}
#greeting {
  /*font-family: 'Shadows Into Light', cursive;*/
  font-family: "Play", sans-serif;
  font-weight: bold;
  /* color: white; */
  color: rgb(140, 217, 182);
  background-color: transparent;
}
h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-size: 2rem;
  color: white;
}

/* About - Profile Part */
.profile {
  height: 70vh;
  background-color: rgb(225, 219, 206);
}
.profile-pic {
  margin-left: 3%;
  padding-top: 3%;
  max-width: fit-content;
  height: 150px;
  width: 150px;
}
.profile-pic img {
  height: 150px;
  width: 150px;
  border-radius: 10%;
}

/* Tablet Size */
@media (min-width: 800px) {
  .mobile-nav {
    margin-bottom: -80px;
    border-bottom: none;
    height: 5rem;
  }
  .nodegs-logo {
    font-size: 4rem;
    width: 15rem;
  }
  nav ul li:last-child a {
    background-color: rgb(65, 75, 168);
    color: white;
  }
  nav {
    height: 100%;
    background-color: transparent;
    position: static;
    padding: 0;
    height: auto;
    transform: translateY(0);
    border-bottom: 4.5px solid white;
  }
  .hamburger,
  .close {
    display: none;
  }
  nav ul {
    flex-flow: row wrap;
    justify-content: flex-end;
  }

  nav a {
    color: white;
    padding-bottom: 0.5rem;
  }

  nav a:hover {
    background-color: white;
    color: black;
  }

  nav span::before {
    content: "\a";
    white-space: pre;
  }
  nav ul li {
    margin-bottom: 0;
  }
  h1 {
    font-size: 4rem;
  }
  #greeting {
    font-weight: bold;
    font-size: 2rem;
  }
  #short-bio {
    font-size: 2rem;
    line-height: 3rem;
    color: rgb(140, 217, 182);
  }
  section {
    margin-top: 29vh;
  }
}
/* Mobile Landscape Orientation */
@media only screen and (max-width: 926px) and (orientation: landscape) {
  .intro {
    height: 100vh;
    background-position: bottom 0% right 0%;
  }
  section {
    margin-top: 10vh;
  }
}
/* Iphone SE */
@media only screen and (max-width: 668px) and (orientation: landscape) {
  section {
    margin-top: 25vh;
  }
}
/* iPad Pro (12.9 inch) */
@media (width: 1024px) {
  h1 {
    font-size: 5rem;
  }
  section button {
    margin-top: 3rem;
    font-size: 1.2rem;
    padding: 1.3rem;
  }
}
@media (width: 810px) {
  .mobile-nav {
    margin-bottom: -80px;
    border-bottom: none;
  }
}

/* Laptop Size */
@media (min-width: 1280px) {
  .mobile-nav {
    margin-bottom: -115px;
  }
  nav ul li:last-child a:hover {
    background-color: white;
    color: black;
  }
  h1 {
    letter-spacing: 1rem;
  }
  .intro {
    height: 100vh;
  }
  section button:hover {
    background-color: white;
    color: black;
  }
  .profile-pic {
    padding-top: 0px;
  }
  .profile-pic img {
    height: 100%;
    width: 100%;
    border-radius: 10%;
  }
  .nodegs-logo {
    width: 20rem;
  }
  }
/* 720p HD Television */
@media (min-width: 1280px) {
  .mobile-nav {
    margin-bottom: -80px;
    height: 5rem;
  }
  nav {
    padding-bottom: 0px;
  }
  section {
    width: fit-content;
    margin-top: 35vh;
  }
}
/* Laptop With Touch */
@media (width: 1280px) and (height: 950px) {
  section {
    margin-top: 40vh;
  }
}
/* FUHD Television */
@media (min-width: 1920px) {
  section {
    margin-top: 40vh;
  }
  h1 {
    font-size: 6rem;
  }
}
/* Laptop HIDPI */
@media (width: 1440px) and (height: 900px) {
  section {
    margin-top: 40vh;
  }
}
