* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
*::after, *::before {
    box-sizing: inherit;
}

body {
    background-color:rgb(209, 70, 161);
}

header {
    padding: 1em;
    background-color: rgb(156, 44, 171);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}
header img {
    width: 8em;
    height: 8em;
    border-radius: 50%;
}
h1 {
    color: white;
    text-align: center;
    padding: 1em;
    font-size: 2.5em;;
}
h2, h3 {
    padding: 1em 0 .5em;
}
p {
    padding-bottom: 1em;
}
.products-container{
    width: 100%;
    max-width: 55em;
    padding: 2em;
    color: white;
}
.cart-container {
    display: flex;
    justify-content: space-around;
}
.checkout-container {
    max-width: 34em;
    width: 25em;
    padding: 2em;
    background: rgb(156, 44, 171);
    color: white;
}
.products, .cart{
    display: flex;
    flex-wrap: wrap;
}

.products > div {
    background: #f5f5f5;
    margin: 1em;
    padding: 2em;
    flex-basis: 239px;
    color: black
}

.products > div img {
    width: 175px;
    height: 203px;
}

.products > div h3 {
    font-weight: 800;
}

.cart > div {
    border: 1px solid #ccc;
    margin: 1em;
    padding: 2em;
}
.checkout-container {
    max-width: 34em;
}
.checkout {
    margin-bottom: 4em;
}

form input {
    margin-top: 1em;
}

button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 1em;
    transition: .2s ease all;
    text-transform: uppercase;
}
button.pay {
    background: #f5f5f5;
    vertical-align: middle
}
button:hover {
    background: rgb(93, 120, 118);
    color: #fff;
    cursor: pointer;
}

.received {
    font-size: 1.5em;
    padding: 0.3em;
    border: 1px solid #ccc;
    vertical-align: middle
}