* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
}
*::after, *::before {
    box-sizing: inherit;
}

header {
    padding: 1em;
    background-color: rgb(156, 44, 171);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
header img {
    width: 6em;
    height: 6em;
    border-radius: 50%;
}
h1 {
    color: white;
    text-align: center;
    padding-left: 1em;
    font-size: 2.5em;;
}
#intro, #ceo {
    position: relative;
    top: 8em;
    padding: 1em;
}
#ceo {
    padding: 0;
}
#intro p, #ceo p {
    padding: 0;
    font-size: 1.5em;
    line-height: 1.5em;
    /* color: rgb(156, 44, 171); */
    font-weight: 600;
}
#ceo h2 {
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgb(105, 16, 117);
    padding: 1em;
    color: white;
}
#ceo h2 + img {
    width: 8em;
    height: 10em;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
}
h2, h3 {
    padding: 1em 0 .5em;
}
p {
    /* padding-bottom: 1em; */
}
#ceo p {
    margin-top: 1em;
    margin-bottom: 1em;
}
.products-container{
    width: 100%;
    max-width: 55em;
    padding: 2em;
}
.cart-container {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 8em;
}
.checkout-container {
    max-width: 34em;
    width: 25em;
    padding: 2em;
    background-color: rgb(156, 44, 171);;
    color: white;
}
.products, .cart{
    display: flex;
    flex-wrap: wrap;
}

.products > div {
    background: #f5f5f5;
    margin: 1em;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    flex-basis: 239px;
    color: black
}

.products > div img {
    width: 175px;
    height: 203px;
}

.products > div h3 {
    font-weight: 800;
}
.products a, .products h3 + p {
    color: rgb(156, 44, 171);
    font-weight: 600;
}
.products a {
    font-size: 1em;
}

.cart > div {
    border: 1px solid #ccc;
    margin: 1em;
    padding: 2em;
}
.checkout-container {
    max-width: 34em;
}
.checkout {
    margin-bottom: 4em;
}

form input {
    margin-top: 1em;
}

button {
    border: 1px solid #ccc;
    background: #fff;
    padding: 1em;
    transition: .2s ease all;
    text-transform: uppercase;
}
button.pay {
    background: #f5f5f5;
    vertical-align: middle
}
button:hover {
    background: rgb(93, 120, 118);
    color: #fff;
    cursor: pointer;
}

.received {
    font-size: 1.5em;
    padding: 0.3em;
    border: 1px solid #ccc;
    vertical-align: middle
}
footer {
    position: relative;
    top: 8em;
    font-weight: 600;
    text-align: center;
    background-color: #f5f5f5;
    padding: 1em;
}
footer p {
    padding: 0;
}