@font-face {
    font-family: "Roboto";
    src: url("./Roboto/Roboto-Light.ttf");
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body{
    font-family: "agency fb";
    background-color: #fff;
}

.header{
    background-color: black;
    color: #fff;
    font-size: 10px;
    /* margin:10px ; */
    display: flex;
    justify-content: space-between;
}

.header div i{
    margin  : 10px;
}

.header i:hover{
  cursor: pointer;
}

/* .main-body img{
    height: 300px;
    margin-top: 20px;
    height: 100vh;
    width:100vw;
} */

/* .main-body{
    margin: 20px;
} */

.main-body .center{
    text-align: center;
    font-size: 15px;
    margin: 100px;
}

.center{
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}

/* .main-body */

main{
    background-color: #fff;
    height: 100vh;
    width: 100vw;
}

.margin{
    background-image: url("./images/jane.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.margin > div{
    color: #fff;
    /* margin-top: 300px; */
    font-size: 30px;
    font-weight: bolder;
    animation: slideIn .5s ease-in;
}

button{
    padding: 10px;
    background-color: aliceblue;
    color:#000;
    border: none;
}

button:hover{
    background-color: #ff0000;
    color: #fff;
}

.grid{
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    /* justify-content: space-between; */
}

.grid .card ul img{ 
    width: 50px;
    height: 50px;
}

.card{
    background-color: #fff;
    color: #333;
    margin-left: 10px;
    padding: 20px;
    margin-top:20px;
    box-shadow: 0px 10px 38px rgba(0,0,0,0.1);
}

hr{
    width: 600px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.george img{
    width: 120px;
    height: 100px;
}

/* .george{
    display: flex;
    /* align-items: center;
}

.george > p{
    flex-direction: column;
} */

.navs h3{
    background-color: #000;
    color: #fff;
    padding: 15px;
    width: 100vw;
}

.navs ul li{
    display: flex;
    /* flex-direction: column; */
    margin-bottom: 20px;
    padding: 10px;
    margin-right: 10px;
}

.navs{
    padding: 0;
}

/* .woman img{ */
    /* width: 100vw; */
/* } */

.horizontal{
    width:400px;
}

/* .btn h3, p{
    text-align: center;
} */

.btns{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btns button:hover{
    background-color: #000;
    color: #fff;
    /* transform:scaleX(.98); */
    cursor: pointer;
}

.george{
    display: flex;
    align-items: center;
}

.george > div{
    margin-right: 20px;
}

footer{
    background-color: #ccc;
    color: #fff;
    padding: 40px;
}

footer button{
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin-bottom: 30px;
}

footer button i{
    margin-right: 10px;
}

/* @keyframes slideIn {
    0%{
        translateY:-100px ;
    }
    100%{
        translateX:0px;
    }
} */

a{
    color: #fff;
    text-decoration: none;
}